<h1> MENU </h1>

<ul>
  <li><%= link_to "Listar Utilizadores", users_path %></li>
  <li><%= link_to "Listar Tarefas", tasks_path %></li>
  <li><%= link_to "Lista de Tarefas", task_lists_path %></li>
  <li><%= link_to "Atribuir Utilizador a Lista", list_users_path %></li>
</ul>
